@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <div class="center">
            <p>
                Welcome to KhumaloCraft Emporium, where passion meets purpose in the world of artisanal wonders.
            </p>
            <p>
                At KhumaloCraft, we believe in the transformative power of craftsmanship, the beauty of handmade creations,
                and the stories they carry. Founded by James Khumalo, our journey began with a simple yet profound vision:
                to bridge the gap between artisans and admirers worldwide.
            </p>
            <p>
                Driven by a deep appreciation for the artistry and ingenuity of craftsmen and women,
                we have curated a global marketplace that celebrates their talents. Our platform is not just a marketplace;
                it's a vibrant community where creativity thrives, connections are forged, and dreams are realized.
            <p>
                With a commitment to excellence and innovation, we harness the latest in cloud computing technology, particularly Azure services,
                to create a seamless and immersive experience for our customers. From the intricacies of product discovery to the ease of online transactions,
                every aspect of KhumaloCraft is designed to delight and inspire.
            </p>


            <p>
                But beyond the transactions, KhumaloCraft is about fostering meaningful connections – between artisans and customers,
                cultures and communities. It's about preserving traditions, empowering artisans, and spreading joy through the beauty of handmade craftsmanship.
            </p>
            <p>
                Join us on this extraordinary journey as we celebrate the art of creation, one masterpiece at a time. Welcome to KhumaloCraft Emporium, where every purchase tells a story, and every artisan finds a home.
            </p>
        </div>
    </body>
</html>
