@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>

        <h1 style="font-weight:bolder">KhumaloCraft Emporium</h1>
        <div class="text-center">
            <body class ="craft-price">
                <p >
                    Welcome to KhumaloCraft Emporium.
                </p>
                <p>
                    Discover artisanal wonders from around the world. 
                    hether it's unique jewelry or stunning home decor, each piece tells a story. 
                </p>
                <p>
                    Start exploring now.
                </p>
            </body>
        </div>
        
</html>
