@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<div class="center">
    <body>
        <p>
            We at KhumaloCraft are using the images and information on this website on the basis that it is available to freely use.
            If you have any concerns or problems with what is found on our webpage please contact us at khumalocraft@emailexample.com or at 082 000 5555.
        </p>
    </body>
</div>

